@{
    ViewBag.Title = "Add New Employee";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" align="center" style="width:70%; background-color: skyblue; 
border:solid 2px red; padding-top:20px;">
    <tr><td colspan="2" style="background-color:gray; font-size:18pt; 
font-weight:bold; height:30px; text-align:center;">Add New Employee</td></tr>
    <tr>
        <td style="width:15%; text-align:right;">Name</td>
        <td style="width:auto"><input type="text" ng-model="Name" class="form-control" style="min-width: 100%"/>  </td>
    </tr>
    <tr>
        <td style="width:15%; text-align:right;">Image</td>
        <td style="width:auto"><div class="row"><div class="col-md-1 right"><img ng-src="{{ thumbnail.dataUrl }}" height="50" width="50" /></div><div class="col-md-6"><input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().photoChanged(this.files)" /></div></div></td>
    </tr>
    <tr>
        <td style="width:15%; text-align:right;">Email</td>
        <td style="width:auto"><input type="text" ng-model="Email" class="form-control" style="min-width: 100%"/>  </td>
    </tr>
    <tr>
        <td style="width:15%; text-align:right;">Hired Year</td>
        <td style="width:auto"><input type="text" ng-model="HiredYear" class="form-control" style="min-width: 100%"/>  </td>
    </tr>
    <tr>
        <td style="width:15%; text-align:right;">City</td>
        <td style="width:auto"><input type="text" ng-model="City" class="form-control" style="min-width: 100%"/>  </td>
    </tr>
    <tr>
        <td style="width:15%; text-align:right;">Country</td>
        <td style="width:auto"><input type="text" ng-model="Country" class="form-control" style="min-width: 100%"/>  </td>
    </tr>
    <tr>
        <td>{{error}}</td>
        <td>
            <button data-ng-click="save()" type="button"
            class="btn btn-primary">Save</button>
        </td>
    </tr>

</table>
